calenderAgent.json
{
  "name": "calenderAgent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=**OVERVIEW**\nYou are a calendar assistant. Your responsibility includes creating,getting and deleting events in the users calendar.\n\n*Calendar Management Tools*\n- Use \"Create Event with Attendee\" when an event includes a participant.\n- Use \"Create Event\" for solo events.\n- Use \"Get Events\" to fetch calendar schedules when requested.\n- Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n- Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\n\nHere is the current date/time: {{ $now }}\n\nIf a duration for an event isn't specified, assume it will be one hour."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        352
      ],
      "id": "177c628c-7d66-48fd-980a-64ab82528154",
      "name": "AI Agent",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "jarjav2005@gmail.com",
          "mode": "list",
          "cachedResultName": "jarjav2005@gmail.com"
        },
        "eventId": "={{ $fromAI('eventID') }}",
        "updateFields": {
          "end": "={{ $fromAI('endTime') }}",
          "start": "={{ $fromAI('startTime') }}",
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        432,
        816
      ],
      "id": "22498230-3374-42a7-a098-5dec3010ab50",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rBNuWjR6uZEjyssv",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "jarjav2005@gmail.com",
          "mode": "list",
          "cachedResultName": "jarjav2005@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        624,
        864
      ],
      "id": "c9758981-82eb-4408-97d4-e34271483cfb",
      "name": "Delete event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rBNuWjR6uZEjyssv",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "jarjav2005@gmail.com",
          "mode": "list",
          "cachedResultName": "jarjav2005@gmail.com"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        864,
        848
      ],
      "id": "eb9300c5-8e45-4d85-99a7-748d669616bc",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rBNuWjR6uZEjyssv",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jarjav2005@gmail.com",
          "mode": "list",
          "cachedResultName": "jarjav2005@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1056,
        784
      ],
      "id": "a22be4ce-9d9e-49bd-b36e-fd5ffb484bd6",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rBNuWjR6uZEjyssv",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jarjav2005@gmail.com",
          "mode": "list",
          "cachedResultName": "jarjav2005@gmail.com"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1280,
        720
      ],
      "id": "3841896c-3900-40c3-9413-ee81fc8af1c3",
      "name": "Create event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rBNuWjR6uZEjyssv",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcfe13ce-1e22-407b-ab63-1f0754521e07",
              "name": "response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        96
      ],
      "id": "2fdbca58-8ac2-41ed-a512-e3a989627b48",
      "name": "success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e925805-7bae-4f8b-98cb-f21076c472bf",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        384
      ],
      "id": "24af98c5-208f-485d-9e23-09e9a0404c85",
      "name": "Try Again"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -144,
        240
      ],
      "id": "47fa220d-747f-4b4f-b8ae-5ec06a310b40",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "eHnAMryzwdeiukA9",
          "name": "OpenRouter account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        640
      ],
      "id": "6774bddf-460b-446d-a67d-32ef65b7ee6e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ukTMgTyCiXz0EpLL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Delete the team sync event set for tommorow"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ac6b2c1-1a4e-429e-8f97-65a7a21898be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f74d9bb8056f48fafc54ca846b41fe0f1c275ef0a91feff266bd833fb580baf0"
  },
  "id": "n6W81V2XveO3eAuA",
  "tags": []
}