contactAgent.json
{
  "name": "contactAgent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        352
      ],
      "id": "30d1ebf8-8afa-4d2d-bc66-17f674c4dca5",
      "name": "AI Agent",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appAmq8MAlupznMWS",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://airtable.com/appAmq8MAlupznMWS"
        },
        "table": {
          "__rl": true,
          "value": "tblMCpytynQLO8QVW",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appAmq8MAlupznMWS/tblMCpytynQLO8QVW"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        496,
        688
      ],
      "id": "e4904515-e8af-489a-b820-651b4d776351",
      "name": "Get Contacts",
      "credentials": {
        "airtableTokenApi": {
          "id": "PJeRzT9tavtD0biO",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appAmq8MAlupznMWS",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://airtable.com/appAmq8MAlupznMWS"
        },
        "table": {
          "__rl": true,
          "value": "tblMCpytynQLO8QVW",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appAmq8MAlupznMWS/tblMCpytynQLO8QVW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "{{ $fromAI(\"name\") }}",
            "email": "{{ $fromAI(\"emailAddress\") }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        768,
        672
      ],
      "id": "b06b913b-8641-4c89-8ba0-4d5990e3cb29",
      "name": "Add or Update contacts",
      "credentials": {
        "airtableTokenApi": {
          "id": "PJeRzT9tavtD0biO",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9331d4-c6a9-4a55-b548-611f190f0de2",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        256
      ],
      "id": "e0df6fad-e763-4e45-ac08-123f2451af7c",
      "name": "success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34048eb2-62e2-4a54-81c8-9f32a2244b85",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        480
      ],
      "id": "0e595a65-7151-4ec6-8269-23d467615fa3",
      "name": "Try Again"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        16,
        352
      ],
      "id": "423d6bb3-778d-445c-afbb-d466b7edaf6e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "eHnAMryzwdeiukA9",
          "name": "OpenRouter account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        592
      ],
      "id": "abe0108b-ba3c-41a7-8fa3-ac8698fd7668",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ukTMgTyCiXz0EpLL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "get email for Apoorv Jain"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67fe79b4-dfcc-4a06-9121-694c3a4fa83c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f74d9bb8056f48fafc54ca846b41fe0f1c275ef0a91feff266bd833fb580baf0"
  },
  "id": "uC1AK7YkRG8JVWEx",
  "tags": []
}